
::-webkit-scrollbar {
        display: none;
}

.profile-picture{
        background-size:cover;
        background-position:center;
        border-radius: 50%;
}
 
button:hover, .profile-picture:hover, .card-text:hover, .overlay-text {
        cursor: pointer;

}
.icon-hover:hover {
        cursor: pointer;
}
.list-item:hover {
        cursor: pointer;
        background-color: whitesmoke;
}
#app-overall {
        font-family: Arial, Helvetica, sans-serif;
        min-height:100vh;
        background-color:whitesmoke;
}
.pic-container {
        background-size:cover;
        background-position:center;
}
a:link {
        text-decoration: none;
}
.hover-cover {
        opacity: .4;
        background-color: black;
}
.center-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        
}
.post-header {
        gap: 10px;
}

.inputNone {
        width: 85%;
        border:white
}
.flex-grid-postPopup {
        display: flex;
        flex-direction: row;
        gap: 15px;
        flex-wrap: wrap;
        padding: 10px 0;
}
.postFooter {
        display: inline-block;
        color:"#458eff"     
}
.flex-grid-align-time {
        display: flex;
        flex-direction: column;
        gap:2px;
        justify-content: center;
}
.post-cover-hover {
        background-color: black;
        opacity: .8;
}
#main-modal {
        min-width: 70%;
    }
.own-post-img {
        position: relative;
        width: 300px;
        height: 300px;
}
.own-post-cover {
        opacity: 1;
        background-color: black;
        z-index: 100
}
.img-hover {
        filter: brightness(50%);
        cursor: pointer;
}
.overlay-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        z-index: 5;
}

.absolute-pos {
        position: absolute;
}
.fit-img {
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
}
#img-grid-prof {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 30px 30px;
        max-width: fit-content;
        margin-left: 15px;
        margin-top: 30px;
}

.blueHov:hover {
        background-color: #F5F5F5;
}
.create-account-card {
        width: 45%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.create-account-card input, .create-account-card textarea{
        background-color: #F5F5F5;
}
.post-box-shadow {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
}
.center-insta-logo {
        display:flex;
        justify-content:center;
        align-items:center;
        padding:30px
}

.heart:hover {
        transform: scale(1.2);
}
.login-in-card {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 25%;
        border-radius:0;
}
.bottomcardstyleObj {
        display:flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
}
.post-page {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
}
#post-button {
        background-color:white;
        border:none;
        color:#87CEFA;
        opacity: .3;
}
#input-active {
        opacity: .9;
        background-color:white;
        border:none;
        color:#1E90FF;
}