.profile-picture{
        background-size:cover;
        background-position:center;
        border-radius: 50%;
}
a:link {
        text-decoration: none;
}
#root {
        background-color: whitesmoke;
}

.hover-cover {
        opacity: .4;
        background-color: black;
}
.center-text {
        display: flex;
        flex-direction: row;
        align-items: center;
}

.inputNone {
        width: 90%;
        border:white
}

.postFooter {
        display: inline-block;
        color:"#458eff"     
}
