.profile-picture{
        background-size:cover;
        background-position:center;
        border-radius: 50%;
}
a:link {
        text-decoration: none;
}
#root {
        background-color: whitesmoke;
}

.hover-cover {
        opacity: .4;
        background-color: black;
}